<html>
<head>
<link rel="stylesheet" href="login.css">
<h1>RESEARCHER'S JOURNAL</h1>
</head>
<body>
<div style="background-color:lightgrey;color:black; margin:20px; padding:20px;">

<h2>About Us</h2>
<p> Researcher's Journal provides you a hassle free way to save your confidetial research data in electronic form. With the help of this electronic note 
You can have access to your data anytime, anywhere. No matter what your research area is, we do have information for all. Our idea is to utilize time more on more on your research rather than data storage and sharing.</p>
<p>Sharing your work with others is now just a click away. Join us to save your time and be a part of discussion group to connect with other researches.</p>
</body>
</html>