<html>
<head>
<a href="aboutus.html" style="float:right; color:black">About Us</a>
<link rel="stylesheet" href="login.css">
<script src="login.js"></script>
<h1>RESEARCHER'S JOURNAL</h1>

</head>
<body>
<form class="login-card">
User Name: <br>
<input type="text" name="username" id ="Name"></input>
<br>
Password:<br>
<input type= "password" name="password" id="Password"></input>
<br><br>
<button type="button" onclick="javascript:redirectToMainPage();">Sign In</button>
<br>
<p>Don't have an account?</p>
<button type="button" onclick="location.href='signup.html'">Sign Up</button>
</form>
</body>
</html>

