<html>
<head>
<link rel="stylesheet" href="login.css">
<script src="signup.js"></script>
<h1>RESEARCHER'S JOURNAL</h1>
<p><font size="5">Create Account</font></p>
</head>
<body>
<form>
<table>
<tr>
<td><label>Name:</label></td>
<td><input type="text" name="name" id ="Name"></input></td>
</tr>
<tr>
<td><label>Email Address:</label></td>
<td><input type="text" name="email address" id ="email address"></input></td>
</tr>
<tr>
<td><label>Enter Password:</label></td>
<td><input type= "text" name="password" id="Password"></input></td>
</tr>
<tr>
<td><label>Confirm Password: </label></td>
<td><input type= "Text" name="confirmPassword" id="Confirm Password"></input></td>
</tr>
<tr>
<td><label>Select Gender:</label></td>
<td><select> <option value="select">Select</option>
<option value="Male">Male</option>
<option value="Female">Female</option><br>
</select></td>
</tr>
<tr>
<td><label>Area of interest:</label></td>
 <td><select> <option value="select">Select</option>
  <option value="Aeronautics">Aeronautics</option>
  <option value="Computer Science">Computer Science</option>
  <option value="Environmental Science">Environmental Science</option>
  <option value="Food Science">Food Science</option>
  <option value="Mathematics">Mathematics</option>
  <option value="Medical Science">Medical Science</option>
</select></td>
</tr>
</table>
<br>
<button type="button" name="submit" id="submitButton" onclick="javascript:redirectToLoginPage();">Submit</button>
</form>
</body>
</html>