 <!DOCTYPE html>
<html lang="en">
<script src="login.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>



 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-size:24px" href="#">Researcher's Journal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="main.html">Dashboard</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-left:8px"
 <form class="form-inline" role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <br/>
    <input id="register_user" type="email" class="form-control" id="email">
    <br/>
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <br/>
    <input id="register_password" type="password" class="form-control" id="pwd">
    <br/>
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <label>Confirm Password: </label>
    <br/>
    <input type= "Text" name="confirmPassword" class="form-control" id="Confirm Password"></input>
    <br/>
  </div>
  <br/>
  <br/>
  <div class="dropdown">
      <label>Select Gender:</label>
      <br/>
      <select> <option id="register_gender"value="select" class="form-control">Select</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      </select>
      <br/>
  </div>
  <br/>
  <br/>
  <div class="dropdown">
    <label>Area of interest:</label>
    <br/>
    <select> <option id="register_interest" value="select" class="form-control">Select</option>
      <option value="Aeronautics">Aeronautics</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Environmental Science">Environmental Science</option>
      <option value="Food Science">Food Science</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Medical Science">Medical Science</option>
    </select>
    <br/>
  </div>
  <br/>
  <button type="submit" class="btn btn-primary" onclick="javascript:registerUser();">Register</button>
</form>
</div>

</body>
</html>
</div>